<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Successful Contact</title>
</head>
<body>
    <div class="container"><br>
    <h1>Contact Message Successful</h1><hr> 
    <div class="jumbotron">
        <h1 id="score-report" class="display-4">Your Message was successfully sent!</h1>
        <br>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="../../index.html" role="button">Return to Home</a>
        </p>
    </div>
</body>
</html>