* {
    box-sizing: border-box;
}

.page {
    height: 100vh;
    width: 75vw;
    clear: both;
}

.about-page-text {
    font-family: 'Source Serif Pro', serif;
}

.copyright {
    position: absolute;
    bottom: 0;
    display: block;
    font-family: 'Pacifico', sans-serif;
    font-size: 3vh;
}

.nav {
    position:absolute;
    top: 15vh; 
    bottom: 25vh; 
    left: 0vh; 
    right: 0vh;
    list-style: none;
    text-align: center;
}

h1 {
    font-size: 4vw;
    font-family: 'Source Serif Pro', serif;
}

h2 {
    font-size: 3vw;
    font-family: 'Source Serif Pro', serif;
}


h4 {
    font-size: 2vw;
    font-family: 'Source Serif Pro', serif;
}

h5 {
    font-family: 'Source Serif Pro', serif;
}

.row,
.container {
    width: 65vw;
    clear: both;
}

.location {
    float: left;
}

.duration {
    float: left;
}

.job-title {
    clear: both;
}

.content-column {
    position: fixed;
    top:0;
    left:0;
    width: 17vw;
    height: 100vh;
    background-image: url("../images/offwhite.jpg");
    background-size: 100vh 100vw;
    z-index: 0;
}

.dropdown {
    position: fixed;
    display: none;
    vertical-align: right;
    right:12vw;
    top:2vh;
    z-index: 1;
}

a {
    display: block;
    color: black;
    font-family: 'Pacifico', sans-serif;
}

.scroll-tag {
    font-family: 'Pacifico', sans-serif;
    font-size: 4vh;
}

p {
    font-family: 'Source Serif Pro', serif;
    clear: both;
}

.highlight-control.active:focus {
    color: white !important;
}

.highlight-control:hover {
    color: white !important;
}

@media screen and (height: 768px) and (width : 1024px) {
    .content-column {
        display: none; 
    }

    .dropdown{
        display: inline-block;
    }

    .highlight-control.active:focus {
        color: gray !important;
    }
    
    .highlight-control:hover {
        color: gray !important;
    }

    .page {
        height: 100%; 
        width: 85vw;
    }

    .scroll-tag {
        font-size: 2vh;
    }
    .container {
        margin-left: 5vw;
    }
}


@media screen and (width : 768px) and (height : 1024px) {
    .content-column {
        display: none; 
    }

    .dropdown{
        display: inline-block;
    }

    .highlight-control.active:focus {
        color: gray !important;
    }
    
    .highlight-control:hover {
        color: gray !important;
    }

    .page {
        height: 100%; 
        width: 95vw;
    }

    .scroll-tag {
        font-size: 2vh;
    }

}

@media screen and (width : 1024px) and (height : 1366px) {
    .content-column {
        display: none; 
    }

    .dropdown{
        display: inline-block;
    }

    .highlight-control.active:focus {
        color: gray !important;
    }
    
    .highlight-control:hover {
        color: gray !important;
    }

    .page {
        height: 100%; 
        width: 95vw;
    }

    .container {
        margin-left: 1vw;
    }

    .scroll-tag {
        font-size: 2vh;
    }

}

@media screen and (width : 1366px) and (height : 1024px) {
    .content-column {
        display: none; 
    }

    .dropdown{
        display: inline-block;
    }

    .highlight-control.active:focus {
        color: gray !important;
    }
    
    .highlight-control:hover {
        color: gray !important;
    }

    .page {
        height: 100%; 
        width: 95vw;
    }

    .container {
        margin-left: 1vw;
    }

    .scroll-tag {
        font-size: 2vh;
    }
}

@media screen and (max-height : 515px) {
    .content-column {
        display: none; 
    }

    .dropdown{
        display: inline-block;
    }

    .highlight-control.active:focus {
        color: gray !important;
    }
    
    .highlight-control:hover {
        color: gray !important;
    }

    .page {
        height: 100%; 
        width: 88vw;
    }

    .row,
    .container {
        width: 94vw;
        clear: both;
    }

}

@media screen and (max-width: 768px) {
    .content-column {
        display: none; 

    }

    .dropdown{
        display: inline-block;
    }

    .highlight-control.active:focus {
        color: gray !important;
    }
    
    .highlight-control:hover {
        color: gray !important;
    }

    .container {
        margin-left: 3vw;
    }

    .page {
        height: 100%;     
        width: 88vw;
    }

    .scroll-tag {
        font-size: 18px;
    }

    .nav {
        top: 10vh; 
        bottom: 25vh; 
    }
    
    h1 {
        font-size: 6vw;
    }
    h2 {
        font-size: 5vw;
    }
    h4 {
        font-size: 3vw;
    }
    
    .g-recaptcha {
        transform: scale(0.70);
        -webkit-transform: scale(0.70);
        transform-origin: 0 0;
        -webkit-transform-origin:0 0;
    }
}