* {
    box-sizing: border-box;
}

.page {
    height: 100vh;
    clear: both;
}

ul {
    flex-direction: column;
    align-items: center;
}

.nav {
    position:absolute;
    top:20vh; 
    bottom: 20vh; 
    left: 0vh; 
    right: 0vh;
}

.carousel,
.carousel-inner,
.carousel-items {
    height: 95vh;
    width: 95vh;
}

h1 {
    font-size: 8vh;
}

h2 {
    font-size: 6vh;
}

h4 {
    font-size: 4vh;
}

h5 {
    font-size: 3vh;
}

.row,
.container {
    width: 65%;
    clear: both;
}

.location {
    float: left;
}

.duration {
    float: left;
}

.job-title {
    clear: both;
}

.left-column {
    position: fixed;
    top:0;
    left:0;
    width: 15%;
    height: 100vh;
    background:#4aaaa5;
    z-index: 0;
}

footer {
    position: relative;
    bottom: 0;
    padding: 3vh 0;
    clear: both;
    font-size: 2vh;
    color: #fff;
    color: #ccc;
    text-align: center;
    background: #666;
    border-top: 8px solid #4aaaa5;
    height:10vh;
    z-index: 1;
}

a {
    display: block;
    color: black;
}


p {
    clear: both;
}

a.active:focus {
    color: white !important;
}

@media screen and (max-width: 1200px) {
    .left-column {
        width: 100%;
        height: 20vh;
        z-index: 1;
        clear: both;
        text-align: center;
        margin-left: 0px;
    }

    .carousel,
    .carousel-inner,
    .carousel-items {
        height: 100%;
        width: 100%;
    }

    .row,
    .container {
        width: 100%;
        max-width: 1200px;
        clear: both;
    }
    
    .page { 
        padding-top: 20vh;
        height: 120vh;
        clear: both;
    }

    h1 {
        font-size: 6vh;
    }
    
    h2 {
        font-size: 4vh;
    }
    
    a,h4 {
        font-size: 3vh;
    }

    h5 {
        font-size: 2vh;
    }

    .nav-link {
        display: inline-block;
    }

    .nav {
        top: 0vh;
        right: 0vh;
        bottom: 0vh;
        left: 0vh;        
    }

}

@media screen and (max-width: 450px) {
    .page { 
        padding-top: 20vh;
        height: 125vh;
        clear: both;
    }
    h1 {
        font-size: 5vh;
    }
    
    a,h2 {
        font-size: 3vh;
    }
    
    h4 {
        font-size: 2vh;
    }

    h5 {
        font-size: 2vh;
    }
}