<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Irving Rivas</title>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Pacifico|Source+Serif+Pro">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
        crossorigin="anonymous">
    <script type="text/javascript" src="../javascript/jQuery.js"></script>
    <script type="text/javascript" src="../javascript/jQuery-ui.js"></script>
    <script type="text/javascript" src="../javascript/popper.js"></script>
    <script type="text/javascript" src="../javascript/bootstrap.js"></script>
    <script type="text/javascript" src="../javascript/scrollspy.js"></script>
    <script type="text/javascript" src="../javascript/sendmsg.js"></script>
    <script type="text/javascript" src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>

<body data-spy="scroll" data-target="#myScrollspy" data-offset="0">
    <div class="container">
        <div class="text-center content-column">
            <nav id="myScrollspy" class="navbar nav-pills navbar-light nav flex-column">
                <a class="fas navbar-brand nav-link page-control highlight-control" style="background-color: transparent;"
                    href="#about-page">
                    <p class="scroll-tag">About <i class="fab fa-github"></i></p>
                </a>
                <a class="fas navbar-brand nav-link page-control highlight-control" style="background-color: transparent;"
                    href="#experience-page">
                    <p class="scroll-tag">Experience <i class="fa fa-briefcase"></i></p>
                </a>
                <a class="fas navbar-brand nav-link page-control highlight-control" style="background-color: transparent;"
                    href="#education-page">
                    <p class="scroll-tag">Education <i class="fa fa-university"></i></p>
                </a>
                <a class="fas navbar-brand nav-link page-control highlight-control" style="background-color: transparent;"
                    href="#skills-page">
                    <p class="scroll-tag">Tech Skills <i class="fa fa-desktop"></i></p>
                </a>
                <a class="fas navbar-brand nav-link page-control highlight-control" style="background-color: transparent;"
                    href="#contact-page">
                    <p class="scroll-tag">Contact <i class="fa fa-envelope"></i></p>
                </a>
            </nav>
            <h3 class="copyright">Irving Rivas &copy; 2018</h3>
        </div>
            <div id="about-page" class="page"><br>
                <h1 class="page-title">About Irving </h1>
                <div class="btn-group dropdown">
                    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-bars"></i>
                    </button>
                    <div class="dropdown-menu text-center">
                        <!-- Dropdown menu links -->
                        <a class="fas navbar-brand nav-link page-control highlight-control" style="background-color: transparent;"
                            href="#about-page">
                            <p class="scroll-tag">About <i class="fab fa-github"></i></p>
                        </a>
                        <a class="fas navbar-brand nav-link page-control highlight-control" style="background-color: transparent;"
                            href="#experience-page">
                            <p class="scroll-tag">Experience <i class="fa fa-briefcase"></i></p>
                        </a>
                        <a class="fas navbar-brand nav-link page-control highlight-control" style="background-color: transparent;"
                            href="#education-page">
                            <p class="scroll-tag">Education <i class="fa fa-university"></i></p>
                        </a>
                        <a class="fas navbar-brand nav-link page-control highlight-control" style="background-color: transparent;"
                            href="#skills-page">
                            <p class="scroll-tag">Tech Skills <i class="fa fa-desktop"></i></p>
                        </a>
                        <a class="fas navbar-brand nav-link page-control highlight-control" style="background-color: transparent;"
                            href="#contact-page">
                            <p class="scroll-tag">Contact <i class="fa fa-envelope"></i></p>
                        </a>
                    </div>
            </div>
            <hr />
            <div style="width: inherit;" class="row">
                <div class="col-md-5">
                    <br><img id="profile" class="img img-fluid img-responsive nopadding"  src="../images/prof.png">
                </div>
                <div class="col-md-7">
                    <br>
                    <h4 class="about-page-text">Hello, my name is Irving and this is my personal website! I am
                        an
                        experienced embedded systems/software engineer with an interest in web development. I do
                        freelance work too! Contact me for more information.</h4>
                    <a href="https://github.com/irvingrivas" target="_blank">
                        <h1 style="float: left" class="fab fa-github">&nbsp;</h1>
                    </a>
                    <a class="page-control" href="#experience-page">
                        <h1 style="float: left" class="fa fa-briefcase">&nbsp;</h1>
                    </a>
                    <a class="page-control" href="#education-page">
                        <h1 style="float: left" class="fa fa-university">&nbsp;</h1>
                    </a>
                    <a class="page-control" href="#skills-page">
                        <h1 style="float: left" class="fa fa-desktop">&nbsp;</h1>
                    </a>
                    <a class="page-control" href="#contact-page">
                        <h1 class="text-center fa fa-envelope"></h1>
                    </a>
                    <a href="https://github.com/irvingrivas/personalwebsite" target="_blank">
                        <h4 class="about-page-text">Personal Website Source Code</h4>
                    </a>
                    <a href="https://weatherwander.com/" target="_blank">
                        <h4 class="about-page-text">Small Travel App (I integrated the calendar and location
                            selectors)</h4>
                    </a>
                    <a href="https://safe-cove-83329.herokuapp.com" target="_blank">
                        <h4 class="about-page-text">Friend Finder Express App</h4>
                    </a>
                    <a href="https://irvingrivas.github.io/TriviaGame/" target="_blank">
                        <h4 class="about-page-text">CS History Trivia Game</h4>
                    </a>
                </div>
            </div>
        </div>
        <div id="experience-page" class="page"><br>
            <h1 class="page-title">Experience</h1>
            <hr />
            <h2 class="job-title">Systems Engineer - Raytheon Missile Systems</h2>
            <h4 class="location"><i>Tucson, AZ &nbsp;</i></h4>
            <h4 class="duration"><i>June 2016 - Present</i></h4>
            <h2 class="job-title">Software Engineer Intern - Lockheed Martin</h2>
            <h4 class="location"><i>Moorestown, NJ &nbsp;</i></h4>
            <h4 class="duration"><i>May 2015 - August 2015</i></h4>
        </div>
        <div id="education-page" class="page"><br>
            <h1 class="page-title">Education</h1>
            <hr />
            <h2 class="job-title">Full Stack Web Development Bootcamp</h2>
            <h2 class="job-title">University of Arizona</h2>
            <h4 class="location"><i>Tucson, AZ &nbsp;</i></h4>
            <h4 class="duration"><i>July 2018 - Presently, 'A' Average, Completion on Jan 2019</i></h4>
            <h2 class="job-title">B.S. in Electrical and Computer Engineering</h2>
            <h2 class="job-title">Rutgers University</h2>
            <h4 class="location"><i>New Brunswick, NJ &nbsp;</i></h4>
            <h4 class="duration"><i>Sept 2012 - May 2016, Magna Cum Laude, 3.61</i></h4>
            <h4 class="duration"><i>Student Organizations: Society of Hispanic Professional Engineers,
                    Engineering
                    Governing Council, Bachata Dance Club, Salsa Club, Tau Beta Pi, Eta Kappa Nu</i></h5>
        </div>
        <div id="skills-page" class="page"><br>
            <h1 class="page-title">Tech Skills</h1>
            <hr />
            <h2>High Level Languages</h2>
            <h4><i>Javascript (JQuery, Node.js, Express.js), MySQL(Sequelize), MongoDB, HTML(Bootstrap), CSS,
                    Python, Shell</i></h4>
            <h2>Lower Level Languages</h2>
            <h4><i>C++ (Since 01/2014), C</i></h4>
            <h2>Knowledge of the Following</h2>
            <h4><i>Front End Web Development, Systems Development Life Cycle, Application Programming in
                    Languages
                    Listed Above, Computer Memory Systems, Architectures, and Organization</i></h4>
            <h2>Operating Systems</h2>
            <h4><i>Linux - Superuser, Mac, Windows</i></h4>
        </div>
        <div id="contact-page" class="page"><br>
            <h1 class="page-title">Contact</h1>
            <hr />
            <form id="contact-form" method="post" class="needs-validation" novalidate>
                <div class="form-group">
                    <label for="user-email">Email address</label>
                    <input type="email" class="form-control" id="user-email" aria-describedby="emailHelp" placeholder="Enter email"
                        required>
                    <small id="emailHelp" class="form-text text-muted">We'll never share your
                        email.</small>
                </div>
                <div class="form-group">
                    <label for="user-message">Message</label>
                    <textarea class="form-control" style="height: 25vh" id="user-message" required></textarea>
                </div>
                <!-- The key below is a public key for users -->
                <div class="form-group">
                    <div class="g-recaptcha" data-sitekey="6Lcc_HYUAAAAAGX8nEw3N5bvgWnZeBjU-HXTtDcg"></div>
                </div>
                <a class="btn btn-primary text-center" data-toggle="modal" data-target="#response-modal" href="/reply"
                    role="button" id="send-emails">
                    <h5>Submit</h5>
                </a>
            </form>
            <br>
        </div>
    </div>
    </div>
</body>
<!-- Modal -->
<div class="modal fade" id="response-modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="modalLabel">Contact Response</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="form-res">Sending email...</div>
            <div class="modal-footer">
                <button type="button" id="close-modal" class="btn btn-primary" aria-label="Close" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

</html>