<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Irving Rivas Personal Website</title>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Pacifico|Roboto:300,400,500">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
        crossorigin="anonymous">
    <script type="text/javascript" src="../javascript/jQuery.js"></script>
    <script type="text/javascript" src="../javascript/jQuery-ui.js"></script>
    <script type="text/javascript" src="../javascript/popper.js"></script>
    <script type="text/javascript" src="../javascript/bootstrap.js"></script>
    <script type="text/javascript" src="../javascript/scrollspy.js"></script>
    <script type="text/javascript" src="../javascript/sendmsg.js"></script>
    <script type="text/javascript" src="../javascript/copyright.js"></script>
    <script type="text/javascript" src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>

<body data-spy="scroll" data-target="#myScrollspy" data-offset="0">
    <div class="container">
        <div class="text-center content-column">
            <nav id="myScrollspy" class="navbar nav-pills navbar-light nav flex-column">
                <a class="fas navbar-brand nav-link page-control highlight-control" href="#about-page">
                    <p class="scroll-tag">About <i class="fab fa-github"></i></p>
                </a>
                <a class="fas navbar-brand nav-link page-control highlight-control" href="#experience-page">
                    <p class="scroll-tag">Experience <i class="fa fa-briefcase"></i></p>
                </a>
                <a class="fas navbar-brand nav-link page-control highlight-control" href="#skills-page">
                    <p class="scroll-tag">Tech Skills <i class="fa fa-desktop"></i></p>
                </a>
                <a class="fas navbar-brand nav-link page-control highlight-control" href="#education-page">
                    <p class="scroll-tag">Education <i class="fa fa-university"></i></p>
                </a>
                <a class="fas navbar-brand nav-link page-control highlight-control" href="#contact-page">
                    <p class="scroll-tag">Contact <i class="fa fa-envelope"></i></p>
                </a>
            </nav>
            <h3 class="copyright"></h3>
        </div>
        <div id="about-page" class="page"><br>
            <h1 class="page-title">About Irving</h1>
            <div class="btn-group dropdown">
                <button type="button" class="btn btn-secondary dropdown-toggle scroll-tag" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    <i class="fa fa-bars"></i>
                </button>
                <div class="dropdown-menu text-center">
                    <!-- Dropdown menu links -->
                    <a class="fas navbar-brand nav-link page-control highlight-control" href="#about-page">
                        <p class="scroll-tag">About <i class="fab fa-github"></i></p>
                    </a>
                    <a class="fas navbar-brand nav-link page-control highlight-control" href="#experience-page">
                        <p class="scroll-tag">Experience <i class="fa fa-briefcase"></i></p>
                    </a>
                    <a class="fas navbar-brand nav-link page-control highlight-control" href="#skills-page">
                        <p class="scroll-tag">Tech Skills <i class="fa fa-desktop"></i></p>
                    </a>
                    <a class="fas navbar-brand nav-link page-control highlight-control" href="#education-page">
                        <p class="scroll-tag">Education <i class="fa fa-university"></i></p>
                    </a>
                    <a class="fas navbar-brand nav-link page-control highlight-control" href="#contact-page">
                        <p class="scroll-tag">Contact <i class="fa fa-envelope"></i></p>
                    </a>
                </div>
            </div>
            <hr />
            <div style="width: inherit;" class="row">
                <div class="col-md-5"><br>
                    <img id="profile" class="img img-fluid img-responsive" src="../images/prof.png">
                </div>
                <div class="col-md-7"><br><br>
                    <h4 class="about-page-text">I am an experienced embedded systems/software
                        engineer and a web developer. I have helped develop and refine a number
                        of applications including embedded systems applications, driver
                        interfaces, GUIs, full-stack database desktop apps, and secure systems.
                        I am currently working as a Software Development Engineer at Nokia
                        supporting the Optical Networks product line.</h4>
                    <br>
                    <a href="https://github.com/irvingrivas" target="_blank">
                        <h1 style="float: left" class="fab fa-github">&nbsp;</h1>
                    </a>
                    <a class="page-control" href="#experience-page">
                        <h1 style="float: left" class="fa fa-briefcase">&nbsp;</h1>
                    </a>
                    <a class="page-control" href="#skills-page">
                        <h1 style="float: left" class="fa fa-desktop">&nbsp;</h1>
                    </a>
                    <a class="page-control" href="#education-page">
                        <h1 style="float: left" class="fa fa-university">&nbsp;</h1>
                    </a>
                    <a class="page-control" href="#contact-page">
                        <h1 class="text-center fa fa-envelope"></h1>
                    </a>
                    <a href="https://github.com/irvingrivas/personalwebsite" target="_blank">
                        <h4 class="about-page-text">Personal Website Source Code</h4>
                    </a>
                </div>
            </div>
        </div>
        <div id="experience-page" class="page"><br>
            <h1 class="page-title">Experience</h1>
            <hr />
            <h2 class="job-title">Software Development Engineer - Nokia</h2>
            <h4 class="location">New Providence, NJ &nbsp;</h4>
            <h4 class="duration">Aug 2022 - Presently</h4>
            <h2 class="job-title">Software Engineer - L3Harris Technologies</h2>
            <h4 class="location">Clifton, NJ &nbsp;</h4>
            <h4 class="duration">Feb 2019 -  July 2022</h4>
            <h2 class="job-title">Systems Engineer - Raytheon Technologies</h2>
            <h4 class="location">Tucson, AZ &nbsp;</h4>
            <h4 class="duration">June 2016 - Jan 2019</h4>
        </div>
        <div id="skills-page" class="page"><br>
            <h1 class="page-title">Tech Skills</h1>
            <hr />
            <h2>Low Level Languages (Best)</h2>
            <h4>C++ (Since 01/2014), C</h4>
            <h2>High Level Languages</h2>
            <h4>Javascript(React, Node, Express, jQuery), OpenROAD, SQL(Ingres, MySQL), 
                NoSQL(MongoDB), Python(Django), Shell Scripting, HTML, CSS</h4>
            <h2>Technical Knowledge</h2>
            <h4>Software Design, Embedded Systems, Communication Protocols,
                Cybersecurity Engineering, Kernel APIs, Full Stack Web Development</i></h4>
            <h2>Non-Technical Knowledge</h2>
            <h4>Communicating with Non Technical Stakeholders, 
                Working Cross Functionally, Software Project Management</h4>
        </div>
        <div id="education-page" class="page"><br>
            <h1 class="page-title">Education</h1>
            <hr />
            <h2 class="job-title">M.S. in Computer Science/Cybersecurity</h2>
            <h4 class="school">Stevens Institute of Technology</h4>
            <h4 class="location">&nbsp;- Hoboken, NJ &nbsp;</h4>
            <h4 class="duration">Aug 2019 - May 2022</h4>
            <h2 class="job-title">B.S. in Electrical and Computer Engineering</h2>
            <h4 class="school">Rutgers University</h4>
            <h4 class="location">&nbsp;- New Brunswick, NJ &nbsp;</h4>
            <h4 class="duration">Sept 2012 - May 2016, Magna Cum Laude</h4>
            <h4 class="duration">Student Organizations: 
                    Society of Hispanic Professional Engineers,
                    Engineering Governing Council, Bachata Dance Club, 
                    Salsa Club, Tau Beta Pi, Eta Kappa Nu</i></h4>
            <h2 class="job-title">Full Stack Web Development Bootcamp</h2>
            <h4 class="school">University of Arizona</h4>
            <h4 class="location">&nbsp;- Tucson, AZ &nbsp;</h4>
            <h4 class="duration">July 2018 - Jan 2019</h4>
        </div>
        <div id="contact-page" class="page"><br>
            <h1 class="page-title">Contact</h1>
            <hr />
            <form id="contact-form" method="post" class="needs-validation" novalidate>
                <div class="form-group">
                    <label for="user-email">Email address</label>
                    <input type="email" class="form-control" id="user-email" aria-describedby="emailHelp" placeholder="Enter email"
                        required>
                    <small id="emailHelp" class="form-text text-muted">We'll never share your
                        email.</small>
                </div>
                <div class="form-group">
                    <label for="user-message">Message</label>
                    <textarea class="form-control" style="height: 25vh" id="user-message" required></textarea>
                </div>
                <!-- The key below is a public key for users -->
                <div class="form-group">
                    <div class="g-recaptcha" data-sitekey="6Lf2ozMbAAAAAA9vvFp9kvDRelhFnFzc8TbaOkYO"></div>
                </div>
                <a class="btn btn-primary text-center" data-toggle="modal" data-target="#response-modal" href="/reply"
                    role="button" id="send-emails" style="font-family: 'Roboto', sans-serif;">
                    Submit
                </a>
            </form>
            <br>
        </div>
    </div>
    </div>
</body>
<!-- Modal -->
<div class="modal fade" id="response-modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="modalLabel">Contact Response</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="form-res">Sending email...</div>
            <div class="modal-footer">
                <button type="button" id="close-modal" class="btn btn-primary" aria-label="Close" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

</html>
