<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Email Response</title>
    <link href="https://fonts.googleapis.com/css?family=Pacifico|Source+Serif+Pro" rel="stylesheet">
</head>
<body>
    <h1 style="font-family: 'Source Serif Pro', serif">Thank you so much for your Message!</h1><hr />
    <p style="font-family: 'Source Serif Pro', serif">Every message I receive is important. I will try to get back to you as soon as I can. I included a copy of what you sent to me below. Please note that the sender email above is an unmonitored 'no-reply' email. Responses directly to this email address will not be read.</p>
    <p style="font-family: 'Pacifico', sans-serif;">Respectfully,</p>
    <p style="font-family: 'Pacifico', sans-serif;">Irving Rivas</p>
    <a href="/" target="_blank"><p style="font-family: 'Pacifico', sans-serif;">www.irvingrivas.com</p></a>
    <br><hr /><br>
</body>
</html>